ion-content {
  --background: transparent;

  form {
    max-width: 350px;
    margin: auto;
  }

  .inputField {
    margin: 2px;

    label {
      color: #000;
      font-weight: bold;
      font-size: 0.875em;
    }

    ion-col {
      border: 0.1rem solid var(--ion-color-medium);
      border-radius: 5px;
    }

    ion-input {
      height: 2.5em;

      .sc-ion-input-md {
        max-width: 82% !important;
      }

      ion-icon {
        right: 10px;
        position: absolute;
        font-size: 1.5em;
      }
    }
  }
}
