<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Consulta CEP</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <!-- <form [formGroup]="directionForm"> -->
    <ion-searchbar #searchbar placeholder="Pesquise seu endereço aqui!" (ionFocus)="foco = true"
      (ionBlur)="foco = false" (ionChange)="updateSearchResults()">
    </ion-searchbar>
    <!-- </form> -->
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" color="success" *ngIf="progressBar"></ion-progress-bar>
</ion-header>

<ion-content>
  <div [hidden]="autoCompleteList.length == 0">
    <ion-list class="listagem">
      <ion-item button lines="full" *ngFor="let item of autoCompleteList">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        <ion-label>
          {{ item.description }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-slides>
    <ion-slide>
      <div #mapElement class="map"></div>
    </ion-slide>

    <ion-slide>

    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer *ngIf="!modoConsulta">
  <ion-item button lines="none" color="fc-button-green">
    <ion-text>FINALIZAR</ion-text>
  </ion-item>
</ion-footer>