.map {
    height: 100% !important;
    width: 100% !important;
}

ion-content {
    ion-slides {
        height: 100% !important;
    
        ion-slide {
            height: 100% !important;
        }
    }
}

ion-footer {
    ion-item {
        width: 100% !important;
        margin: auto !important;

        ion-text {
            margin: auto !important;
            font-size: 110%;
        }
    }
}