.map {
    height: 100% !important;
    width: 100% !important;
}

ion-content {

    .listagem {
        ion-item {
            ion-icon {
                margin-right: 16px;
            }

            ion-label {
                font-size: 14px;
            }
        }
    }

    ion-slides {
        height: 100% !important;
    
        ion-slide {
            height: 100% !important;
        }
    }
}

ion-footer {
    ion-item {
        width: 100% !important;
        margin: auto !important;

        ion-text {
            margin: auto !important;
            font-size: 110%;
        }
    }
}