<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Consulta CEP</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <form [formGroup]="directionForm">
      <ion-searchbar #searchbar formControlName="placeName" placeholder="Pesquise seu endereço aqui!">
      </ion-searchbar>
    </form>
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" color="success" *ngIf="progressBar"></ion-progress-bar>
</ion-header>

<ion-content>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <ion-slides>
    <ion-slide>
      <div #mapElement class="map"></div>
    </ion-slide>

    <ion-slide>

    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer *ngIf="!modoConsulta">
  <ion-item button lines="none" color="fc-button-green">
    <ion-text>FINALIZAR</ion-text>
  </ion-item>
</ion-footer>