<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button [hidden]="!modoConsulta"></ion-menu-button>
      <ion-back-button [hidden]="modoConsulta"></ion-back-button>
    </ion-buttons>

    <ion-title>Consulta CEP</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar #searchbar placeholder="Pesquise seu endereço aqui!" (ionFocus)="foco = true"
      (ionBlur)="foco = false" (keyup)="updateSearchResults()" showCancelButton="never">
    </ion-searchbar>
  </ion-toolbar>

  <ion-progress-bar type="indeterminate" color="success" [hidden]="!progressBar"></ion-progress-bar>
</ion-header>

<ion-content>
  <div class="listagem" [hidden]="autoCompleteList.length == 0">
    <ion-list>
      <ion-item button lines="full" *ngFor="let item of autoCompleteList" (click)="selectSearchResult(item);">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        <ion-label>
          {{ item.description }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-slides>
    <ion-slide>
      <div #mapElement class="map"></div>
    </ion-slide>

    <ion-slide>
      <ion-grid style="height: 100%;">
        <ion-row>
          <ion-col size="12" class="cadastro-campos">
            <ion-row>
              <ion-col size="8">
                <ion-row>
                  <ion-label>CEP</ion-label>
                </ion-row>
                <ion-row>
                  <ion-input type="tel" [(ngModel)]="enderecoSelecionado.cep"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="4">
                <ion-row>
                  <ion-label>UF</ion-label>
                </ion-row>
                <ion-row>
                  <ion-input type="text" [(ngModel)]="enderecoSelecionado.uf"></ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12">
                <ion-row>
                  <ion-label>Cidade</ion-label>
                </ion-row>
                <ion-row>
                  <ion-input type="text" placeholder="Cidade" [(ngModel)]="enderecoSelecionado.cidade">
                  </ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12">
                <ion-row>
                  <ion-label>Bairro</ion-label>
                </ion-row>
                <ion-row>
                  <ion-input type="text" placeholder="Bairro" [(ngModel)]="enderecoSelecionado.bairro">
                  </ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12">
                <ion-row>
                  <ion-label>Rua ou Avenida</ion-label>
                </ion-row>
                <ion-row>
                  <ion-input type="text" placeholder="Rua ou Avenida" [(ngModel)]="enderecoSelecionado.endereco">
                  </ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12">
                <ion-row>
                  <ion-label>Número</ion-label>
                </ion-row>
                <ion-row>
                  <ion-input type="tel" placeholder="Número" [(ngModel)]="enderecoSelecionado.numero">
                  </ion-input>
                </ion-row>
              </ion-col>

              <ion-col size="12">
                <ion-row>
                  <ion-label>Complemento (opcional)</ion-label>
                </ion-row>
                <ion-row>
                  <ion-input type="text" placeholder="Complemento" [(ngModel)]="enderecoSelecionado.complemento">
                  </ion-input>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer *ngIf="!modoConsulta">
  <ion-item button lines="none" (click)="confirmaLocal()" color="fc-button-green">
    <ion-text>Confirmar Local</ion-text>
  </ion-item>
</ion-footer>