<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Forma de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (click)="common.goToFullScreen();">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="12" style="margin: auto;">
        <ion-row>
          <ion-col size="6" *ngFor="let op of opcoesPagamento; let i = index" style="padding: 15px 5px;">
            <ion-card button (click)="goToCondicaoPagamento(op);"
              [class.selected]="pedido.pedidoHeader.tipodoc == op.codigo">
              <ion-card-header>
                <ion-thumbnail>
                  <img src="assets/images/06-formas_de_pagamento/{{op.codigo}}.png" />
                </ion-thumbnail>
              </ion-card-header>

              <ion-card-content>
                <ion-label>{{ op.descricao }}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>