ion-content {

    ion-slides {
        height: 100%;

        ion-slide {
            background: #f4f4f4;
        
            ion-grid {
                max-width: 500px;
                margin: auto;

                ion-card {
                    margin: 0 !important;
                    border: 3px solid transparent;

                    ion-card-header {
                        padding: 5px !important;

                        ion-thumbnail {
                            margin: auto;
                        }
                    }

                    ion-card-content {
                        padding: 0 0 13px 0;
                    }
                }

                ion-card.selected {
                    border: 3px solid #FC6F58;
                }
            }
        }
    }
}