<ion-header [class]="'ion-no-border ' + colorState + '-bg'">
  <ion-toolbar [class]="colorState + '-bg'">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="colorState === 'isGreen'" (click)="editarCadastro()">
        <ion-icon name="create" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class]="colorState + '-bg'">
  <ion-grid>
    <ion-row style="width: 100%; max-width: 600px; margin: auto">
      <ion-card class="clie-card">
        <ion-item lines="none" [class]="colorState + '-card'">
          <ion-icon
            slot="start"
            src="assets/images/10-cliente/cliente.svg"
            [class]="'clie-icon ' + colorState + '-clie-icon'"
          >
          </ion-icon>

          <ion-card-content class="ion-no-padding" [style.width]="'100%'">
            <ion-row>
              <ion-col size="12" *ngIf="!dados">
                <ion-row>
                  <ion-skeleton-text
                    [animated]="skeletonAni"
                    style="width: 100%"
                  ></ion-skeleton-text>
                </ion-row>

                <ion-row>
                  <ion-skeleton-text
                    [animated]="skeletonAni"
                    style="width: 80%"
                  ></ion-skeleton-text>
                </ion-row>

                <ion-row>
                  <ion-skeleton-text
                    [animated]="skeletonAni"
                    style="width: 50%"
                  ></ion-skeleton-text>
                </ion-row>

                <ion-row>
                  <ion-skeleton-text
                    [animated]="skeletonAni"
                    style="width: 75%"
                  ></ion-skeleton-text>
                </ion-row>

                <ion-row>
                  <ion-skeleton-text
                    [animated]="skeletonAni"
                    style="width: 65%"
                  ></ion-skeleton-text>
                </ion-row>
              </ion-col>

              <ion-col size="12" *ngIf="dados">
                <ion-row>
                  <ion-label> {{ dadosShow.nome }} </ion-label>
                </ion-row>

                <ion-row>
                  <ion-label> {{ dadosShow.endereco }} </ion-label>
                </ion-row>

                <ion-row>
                  <ion-label> {{ dadosShow.celular }} </ion-label>
                </ion-row>

                <ion-row>
                  <ion-label> {{ dadosShow.email }} </ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-item>
      </ion-card>
    </ion-row>

    <ion-row class="clie-input" *ngIf="colorState === 'isBlue'">
      <ion-input
        placeholder="CPF ou CNPJ do cliente"
        (ionChange)="dynamicMask()"
        [(ngModel)]="valorDigitado"
        style="margin-bottom: 1px; font-size: 20px"
        inputmode="numeric"
        (ionBlur)="checaMinimo(valorDigitado)"
        (keyup.enter)="blurSearch()"
      >
      </ion-input>
    </ion-row>

    <ion-row class="clie-btn-row" *ngIf="colorState === 'isBlue'">
      <ion-button
        class="clie-btn-busca"
        color="fc-blue"
        fill="clear"
        (click)="buscaCliente()"
      >
        Buscar cliente por nome
      </ion-button>
    </ion-row>

    <ion-row class="clie-btn-row" *ngIf="colorState === 'isGreen'">
      <ion-button
        class="clie-btn-confirme"
        color="light"
        [disabled]="isActive === 'N'"
        (click)="confirmaCliente()"
      >
        Confirmar
        <ion-icon name="checkmark" slot="start"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row class="clie-btn-row" *ngIf="colorState === 'isGreen' && atualizaCadastro">
      <ion-button class="clie-btn-atualiza" color="white-red">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        Atualizar Cadastro
      </ion-button>
    </ion-row>

    <ion-row class="clie-btn-row" *ngIf="colorState === 'isGreen'">
      <ion-button class="clie-btn-confirme" color="fc-orange" (click)="naoCliente()">
        <ion-icon name="person" slot="start"></ion-icon>
        Não é seu cliente?
      </ion-button>
    </ion-row>

    <ion-row class="clie-btn-row" *ngIf="colorState === 'isOrange'">
      <ion-label>{{ mensagem }}</ion-label>
    </ion-row>

    <ion-row class="clie-btn-row" *ngIf="colorState === 'isOrange'">
      <ion-button class="clie-btn-confirme" color="fc-orange" (click)="cadastrarNovo()">
        <ion-icon name="person" slot="start"></ion-icon>
        Cadastrar novo Cliente!
      </ion-button>
    </ion-row>

    <ion-row class="clie-btn-row" *ngIf="colorState === 'isOrange'">
      <ion-button
        class="clie-btn-confirme"
        color="white-red"
        (click)="setEstado('reset')"
      >
        Digitar novamente.
        <ion-icon name="person" slot="start"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
