.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-header {
    ion-toolbar {

        ion-title {
            display: none;
        }

        ion-buttons {
            min-height: 40px !important;

            ion-button {
                min-width: 48px !important;
                min-height: 48px !important;
                --overflow: visible !important;
                margin: 2px 4px;

                ion-icon {
                    font-size: 200%;
                }

                .badge-position {
                    margin-left: 8px;
                    margin-top: 8px;
                    border-radius: 50%;
                    position: absolute;
                    width: 20px;
                }
            }
        }
    }
}

ion-content {

    ion-grid {
        ion-row {
            ion-col.imgProduto {
                ion-row {
                    width: fit-content;
                    margin: auto;

                    img {
                        width: 220px;
                    }
                }
            }

            ion-col.descricaoProduto {
                ion-row.fantasiaEsituacao {
                    ion-col.fantasia {
                        ion-label {
                            color: #999999;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }

                ion-row.descricao {
                    ion-label {
                        color: #212121;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    
                }
            }

            ion-col.infoProduto {
                ion-row {
                    ion-item {
                        --min-height: 0;
                        background: #F4F4F4bd;
                        border: 2px solid #C4C5C6;
                        border-radius: 6px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

ion-footer {

    ion-grid {
        ion-row {

            ion-col.colunaDePrecos {
                
                ion-row.precoPrincipal {
                    ion-col {
                        color: #C00D0E;
                        font-weight: 500;
                        font-size: 22px;
                    }
                }

                ion-row.precoParcelas {
                    ion-col {
                        color: #C00D0E;
                        font-weight: normal;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}