<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>produto</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedidoService.cardSelected">✔</ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedidoService.clientSelected">✔</ion-badge>
      </ion-button>

      <ion-button *ngIf="pedidoService.qtdItensSacola > 0" [routerLink]="['/pedido-sacola']" routerDirection="forward">
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="fc-cinza-vermelho" class="badge-position">
          {{pedidoService.qtdItensSacola}}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="scanner" hideKeyboard class="scanner" [(ngModel)]="valorScanner" (keyup.enter)="scaneado($event)">

  <!-- <ion-button (click)="openProdutoDetalhe()" *ngIf="showMaisInfo">teste tela detalhes</ion-button> -->

  <!-- <ion-button (click)="openProdutoImagens('4046455')">teste tela imagens</ion-button> -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="imgProduto ion-no-padding">
        <ion-row>
          <img src="data:image/jpeg;base64,{{produto.imagem}}" (click)="openProdutoImagens(produto.codigo)">
        </ion-row>
      </ion-col>

      <ion-col size="12" class="descricaoProduto">
        <ion-row class="fantasiaEsituacao">
          <ion-col size="6" class="fantasia ion-no-padding">
            <ion-label>
              {{ produto.fantas }}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="descricao">
          <ion-label>
            {{ produto.descricao }}
          </ion-label>
        </ion-row>

        <ion-row class="codigodigitoembalagem">
          <ion-label>
            {{ produto.codigodigitoembalagem }}
          </ion-label>
        </ion-row>
      </ion-col>

      <ion-col size="12" *ngIf="showMaisInfo" class="infoProduto">
        <ion-row>
          <ion-item detail button lines="none" (click)="openProdutoDetalhe(produto)" color="cinza">
            <ion-label>
              Informações do produto
            </ion-label>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row *ngIf="produto.estoque > 0">
      <ion-col size="7" class="colunaDePrecos ion-no-padding">
        <ion-row>

        </ion-row>

        <ion-row class="precoPrincipal">
          <ion-col size="12" class="ion-no-padding">
            {{ produto.prvd1 | formatarString: 'VALOR' }}
          </ion-col>
        </ion-row>

        <ion-row class="precoParcelas">
          <ion-col size="12" class="ion-no-padding">
            {{ produto.qtdMaxParcelas }} x de {{ produto.valorParcela | formatarString: 'VALOR' }}
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="5" class="colunaBtn ion-no-padding">
        <ion-button color="fc-button-green" expand="full" (click)="goToAddSacola(produto)">
          COMPRAR
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="produto.estoque == 0" style="height: 100% !important;">
      <ion-col size="12" class="ion-padding" style="margin: auto;">
        <ion-row>
          <ion-label>
            PRODUTO SEM ESTOQUE
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>