<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Depositos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="descricaoProduto">
            <ion-row class="descricao">
              <ion-label>
                {{ produto.descricao }}
              </ion-label>
            </ion-row>

            <ion-row class="codigodigitoembalagem">
              <ion-label>
                {{ produto.codigodigitoembalagem }}
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="opcao-entrega" *ngIf="pedidoS.tipoRetirada === 'ENTREGA'">
          <ion-col size="12">
            <ion-item button detail (click)="goToSlide(1)" lines="none">
              <p>VER OPÇÕES DE ENTREGA</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="depositos.length == 0 && !showDepositos">
          <ion-col size="12">
            <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" *ngFor="let item of depositos; let i = index">
            <ion-item lines="none" class="produto">
              <ion-grid>
                <ion-row class="depositoRow">
                  <ion-col size="2" class="colunaDeposito">
                    <ion-row class="ion-justify-content-center ion-align-items-center">
                      <ion-col size="12" class="ion-no-padding">
                        <ion-row
                          class="ion-justify-content-center ion-align-items-center"
                        >
                          {{ item.deposito }}
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col size="10" class="colunaInformacao">
                    <ion-row class="produtoDescri">
                      {{ item.encarregado }}
                    </ion-row>

                    <ion-row class="estoque linhaCima">
                      Estoque: {{ item.estoque }}
                    </ion-row>

                    <ion-row class="linhaBaixo">
                      <ion-col size="12" class="colunaQuantidade ion-no-padding">
                        <ion-row>
                          <ion-col size="3.5" class="ion-no-padding">
                            <ion-button fill="clear" color="fc-button">
                              <ion-icon
                                slot="icon-only"
                                name="remove-circle-outline"
                              ></ion-icon>
                            </ion-button>
                          </ion-col>

                          <ion-col size="5" class="ion-no-padding">
                            <ion-input
                              id="{{ i }}"
                              #input
                              type="number"
                              [(ngModel)]="depositos[i].qtdPedido"
                            ></ion-input>
                          </ion-col>

                          <ion-col size="3.5" class="ion-no-padding">
                            <ion-button fill="clear" color="fc-button-green">
                              <ion-icon
                                slot="icon-only"
                                name="add-circle-outline"
                              ></ion-icon>
                            </ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="descricaoProduto">
            <ion-row class="descricao">
              <ion-label>
                {{ produto.descricao }}
              </ion-label>
            </ion-row>

            <ion-row class="codigodigitoembalagem">
              <ion-label>
                {{ produto.codigodigitoembalagem }}
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="opcao-entrega">
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="stacked">Quantidade</ion-label>
              <ion-input
                #inputTMS
                type="number"
                [(ngModel)]="inputTMSvalue"
                (keyup.enter)="getOpcoes(inputTMSvalue)"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="loadingTMS">
          <ion-col size="12">
            <ion-spinner></ion-spinner>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-row class="opcoesTMS" *ngFor="let vendedor of dadosRetornoTMS">
              <ion-col size="12">
                <ion-list lines="none">
                  <ion-radio-group [(ngModel)]="vendedorSelecionado">
                    <ion-item class="item-vendedor">
                      <ion-note slot="start">
                        {{ vendedor.fantasia }}
                      </ion-note>

                      <ion-label>{{
                        vendedor.preco | formatarString: 'VALOR'
                      }}</ion-label>

                      <ion-radio slot="end" [value]="vendedor"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-col>

              <ion-col
                size="12"
                *ngIf="
                  vendedorSelecionado.fantasia &&
                  vendedorSelecionado.fantasia == vendedor.fantasia
                "
              >
                <ion-row *ngFor="let opcao of vendedor.opcoes; let i = index">
                  <ion-col size="12" style="padding-bottom: 0 !important">
                    <ion-list lines="none">
                      <ion-radio-group [(ngModel)]="opcaoSelecionada">
                        <ion-item class="item-opcao">
                          <ion-note slot="start">
                            {{ opcao.descricaoTipoEntrega }} ({{ opcao.prazo_entrega }})
                          </ion-note>

                          <ion-label>
                            <span
                              *ngIf="
                                opcao.valorFreteCalculado == 0.0 ||
                                opcao.valorFreteCalculado == 0
                              "
                              class="precoEntregaFree"
                              >GRÁTIS</span
                            >
                            <span
                              *ngIf="
                                opcao.valorFreteCalculado != 0.0 &&
                                opcao.valorFreteCalculado != 0
                              "
                            >
                              {{
                                opcao.valorTotalFreteCalculado | formatarString: 'VALOR'
                              }}
                            </span>
                          </ion-label>

                          <ion-radio slot="end" [value]="opcao"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="infos">
        <ion-col size="6" class="esquerda"> Valor do produto: </ion-col>

        <ion-col size="6" class="direita">
          {{ produto.prvd1 | formatarString: 'VALOR' }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-item
    button
    lines="none"
    color="fc-button-green"
    (click)="validateField() ? adicionar() : zeroQtd()"
  >
    <ion-icon slot="start" name="basket"></ion-icon>
    <ion-text>ADICIONAR AO PEDIDO</ion-text>
  </ion-item>
</ion-footer>
