.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-header {

    ion-toolbar {

        ion-title {
            display: none;
        }

        ion-buttons {
            min-height: 40px !important;

            ion-button {
                min-width: 48px !important;
                min-height: 48px !important;
                --border-radius: 50% !important;
                --overflow: visible !important;
                margin: 2px 4px;

                ion-icon {
                    font-size: 200%;
                }

                .badge-position {
                    margin-left: 8px;
                    margin-top: 8px;
                    border-radius: 50%;
                    position: absolute;
                    width: 20px;
                }
            }
        }

        ion-segment {

            ion-segment-button {
                opacity: 1;
            }
        }
    }
}

ion-content {

    ion-slides {

        ion-slide {
            background: #f4f4f4;
        
            ion-grid {
                max-width: 500px;
                margin: auto;

                ion-card {
                    ion-card-header {
                        ion-button {
                            opacity: 1 !important;
                            font-size: 135%;
                            width: 100%;
                        }
                    }

                    ion-card-content {
                        padding: 0 0 13px 0;
                    }
                }
            }
        }
    }
}