ion-content {
  --background: #f4f4f4;

  .custom-grid {
    height: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }

  .custom-row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    ion-card {
      width: 125px;
      height: auto;

      ion-card-header {
        ion-button {
          opacity: 1 !important;
          font-size: 135%;
          width: 100%;
        }
      }

      ion-card-content {
        padding: 0 0 13px 0;
      }
    }
  }
}

ion-footer {
  background-color: #f4f4f4;
}
