<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <ion-button (click)="sairPedido()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge
          color="success"
          class="badge-position"
          *ngIf="(pedidoOBS | async)?.cartaoPedido"
        >
          ✔
        </ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge
          color="success"
          class="badge-position"
          *ngIf="(pedidoOBS | async)?.cgccpf_cliente"
        >
          ✔
        </ion-badge>
      </ion-button>

      <ion-button
        *ngIf="totalItensOBS | async as total"
        [routerLink]="['/pedido-sacola']"
        routerDirection="forward"
      >
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="fc-cinza-vermelho" class="badge-position">
          {{ total }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input
    class="scanner"
    appHideKeyboard
    [(ngModel)]="scanner.valorScanner"
    (keyup.enter)="scaneado($event.target.value)"
  />

  <div class="custom-grid">
    <div class="custom-row">
      <ion-card [routerLink]="['/produto-pesquisa']" routerDirection="forward">
        <ion-card-header class="ion-text-center">
          <ion-button disabled fill="clear" style="opacity: 1 !important">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <ion-label>Pesquisa</ion-label>
        </ion-card-content>
      </ion-card>

      <ion-card
        [routerLink]="['/pedido-rapido']"
        routerDirection="forward"
        [disabled]="(pedidoOBS | async).tipoEntrega !== 'IMEDIATA'"
      >
        <!-- pedidoService.opcoesRetirada[pedidoService.tipoRetiradaIndex] !== 'IMEDIATA' -->
        <ion-card-header class="ion-text-center">
          <ion-button disabled fill="clear" style="opacity: 1 !important">
            <ion-icon slot="icon-only" name="speedometer-outline"></ion-icon>
          </ion-button>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <ion-label>Pedido Rapido</ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="custom-row">
      <ion-card disabled>
        <ion-card-header class="ion-text-center">
          <ion-button disabled fill="clear" style="opacity: 1 !important">
            <ion-icon slot="icon-only" name="construct-outline"></ion-icon>
          </ion-button>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <ion-label>Serviços</ion-label>
        </ion-card-content>
      </ion-card>

      <ion-card disabled>
        <ion-card-header class="ion-text-center">
          <ion-button disabled fill="clear" style="opacity: 1 !important">
            <ion-icon slot="icon-only" name="color-fill"></ion-icon>
          </ion-button>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <ion-label>Tintas</ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="custom-row">
      <ion-card disabled>
        <ion-card-header class="ion-text-center">
          <ion-button disabled fill="clear" style="opacity: 1 !important">
            <ion-icon slot="icon-only" name="flash-outline"></ion-icon>
          </ion-button>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <ion-label>Eletrica</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer></ion-footer>
