.icon-size {
    font-size: 42px;
}
@media only screen and (min-width: 600px) {
    .icon-size {
        font-size: 64px;
    }
}

.slide-grid {
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
}

.item-cor {
    min-width: 300px !important; max-width: 400px !important; margin: auto !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 1px 2px 5px 0  rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    min-height: 75px !important;
}

.item-cor2 {
    min-width: 300px !important; max-width: 400px !important; margin: auto !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 1px 2px 5px 0  rgba(0, 0, 0, 0.4);
    margin-bottom: 10px !important;
    min-height: 50px !important;

    --padding-start: 0 !important;
    --inner-padding-end: 10px !important;
}

.search {
    border-radius: 6px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 1px 2px 5px 0  rgba(0, 0, 0, 0.4) !important;
    margin-bottom: 10px;
}

.margin-row {
    margin-bottom: 5px !important;
}



.tinta-em-foco {
    width: 100%;
    position: fixed;
    bottom: 70px !important;
    z-index: 1 !important;

    ion-item {
        width: 90% !important;
        margin: auto;

        ion-button {
            margin-left: 2px !important;
            ion-icon {
                font-size: 36px !important;
            }
        }
    }
}







ion-footer {
    background: whitesmoke;
    border-top: 1px solid rgb(200,200,200);

}

.footer-margin-top {
    height: 100%;
    max-height: 350px !important;
    overflow-y: scroll !important;
}