<ion-content class="ion-padding" color="fc-cinza-vermelho">
  <div class="conteiner" *ngIf="pedido | async as ped">
    <div>
      <h2>Nº Pedido: {{ ped.numpedido }}</h2>

      <h3 *ngIf="totalItens | async as total">Nº Total de Produtos: {{ total }}</h3>

      <h3 *ngIf="ped.cgccpf_cliente">Cliente: {{ ped.cgccpf_cliente }}</h3>
    </div>

    <ion-item button lines="none" color="fc-button-green" (click)="close()">
      <ion-text>FINALIZAR PEDIDO</ion-text>
    </ion-item>
  </div>
</ion-content>
