ion-content {
    background-color: #F4F4F4;

    ion-grid {

        ion-row {

            ion-col.opcoes {

                ion-row {
                    border: 2px solid transparent;
                    border-bottom-color: #D9D9D9;

                    ion-col {
                        margin: auto;
                    }

                    ion-col.serial {
                        font-weight: bold;
                        font-size: 17px;
                    }

                    ion-col.txt {
                        font-size: 14px;
                    }

                    ion-col.val {
                        color: var(--ion-color-success);
                        font-size: 12px;
                    }
                }

                ion-row.selected {
                    border: 2px solid #FC6F58;
                }
            }
        }
    }
}

ion-footer {

    ion-grid {

        ion-row {

            ion-col {

                ion-label {
                    font-size: 18px;
                }

                ion-label.title {
                    color: #A9A9A9;
                }

                ion-label.valor {
                    color: #3D3D3D;
                    font-weight: bold;
                }
            }
        }
    }

    ion-item {
        width: 100% !important;
        margin: auto !important;

        ion-text {
            margin: auto !important;
            font-size: 110%;
        }
    }
}