ion-content {
    background-color: #F4F4F4;

    ion-grid {

        ion-row {

            ion-col.opcoes {

                ion-row {
                    border: 2px solid transparent;
                    border-bottom-color: #606060;

                    ion-col {
                        margin: auto;
                    }

                    ion-col.serial {
                        font-weight: bold;
                        font-size: 17px;
                    }

                    ion-col.txt {
                        font-size: 14px;
                    }

                    ion-col.val {
                        color: var(--ion-color-success);
                        font-size: 12px;
                    }
                }

                ion-row.selected {
                    border: 2px solid #FC6F58;
                }
            }
        }
    }
}