.header-md:after {
    height: 0 !important;
    background-image: none !important;
}

.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-content {
    ion-grid.grid1 {
        background: var(--ion-color-primary);
        color: white;

        ion-row.row1 {
            width: fit-content;
            margin: auto;

            ion-col {
                ion-label {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }

        ion-row.row2 {
            ion-col.ESQ {
                text-align: end;

                ion-label {
                    font-size: 14px;
                }
            }

            ion-col.DIR {
                text-align: end;

                ion-label {
                    font-size: 14px;
                }
            }
        }
    }

    ion-grid.grid2 {
        border-bottom: 1px solid #DADADA;
    }

    ion-grid.grid3 {
        border-bottom: 1px solid #DADADA;
    }
}