<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Finalização</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedido.cardSelected">✔</ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedido.clientSelected">✔</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>