<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Finalização</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedido.cardSelected">✔</ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedido.clientSelected">✔</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="scanner" hideKeyboard class="scanner" [(ngModel)]="valorScanner" (keyup.enter)="scaneado($event)">

  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col size="12">
        <ion-label>
          {{ numeroPedido }}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="7.5" class="ESQ">
        <ion-label>
          Produtos
        </ion-label>
      </ion-col>
      <ion-col size="4.5" class="DIR">
        <ion-label>
          {{ totalProdutos | formatarString: 'VALOR' }}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="existeFrete">
      <ion-col size="7.5" class="ESQ">
        <ion-label>
          Frete
        </ion-label>
      </ion-col>
      <ion-col size="4.5" class="DIR">
        <ion-label>
          {{ frete | formatarString: 'VALOR' }}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="total-price">A pagar</ion-col>
      <ion-col size="6">
        {{ totalPedido | formatarString: 'VALOR' }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item button lines="none" color="fc-button-green">
    <ion-text>FINALIZAR PEDIDO</ion-text>
  </ion-item>

  <ion-grid class="grid2">
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none" class="listaProdutos" *ngIf="itens.length > 0">
          <ion-item lines="none" class="produto" *ngFor="let item of itens; let i = index">
            <ion-thumbnail slot="start">
              <ion-img src="data:image/jpeg;base64,{{item?.imagem}}"></ion-img>
            </ion-thumbnail>

            <ion-grid>
              <ion-row class="produtoRow">
                <ion-col size="12" class="produtoInformacao">
                  <ion-row class="produtoDescri">
                    {{ item.idProduto }} - {{ item.descricao }}
                  </ion-row>

                  <ion-row class="produtoPreco">
                    {{ item.prcTotal | formatarString: 'VALOR' }}
                  </ion-row>

                  <ion-row class="produtoPrecoUnidade" *ngIf="item.qtdTotal > 1">
                    {{ item.prcUnitario | formatarString: 'VALOR' }} cada
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  {{ item.qtdTotal }}
                </ion-col>

                <ion-col size="4">
                  <ion-button fill="clear" style="font-size: 14px;">
                    <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid3">
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid4">
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid5">
    <ion-row>
      <ion-col size="12">
        <ion-card button>
          <ion-card-header>
            <ion-thumbnail style="width: 60px; height: 60px;">
              <img src="assets/images/06-formas_de_pagamento/{{pedido.pedidoHeader.tipodoc}}.png" />
            </ion-thumbnail>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-label class="descricao">
                  <!-- {{ op.descricao }} -->
                </ion-label>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item button lines="none" color="fc-button-green">
    <ion-text>FINALIZAR PEDIDO</ion-text>
  </ion-item>
</ion-content>