.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-header {

    ion-toolbar {

        ion-title {
            display: none;
        }

        ion-buttons {
            min-height: 40px !important;

            ion-button {
                min-width: 48px !important;
                min-height: 48px !important;
                --overflow: visible !important;
                margin: 2px 4px;

                ion-icon {
                    font-size: 200%;
                }

                .badge-position {
                    margin-left: 8px;
                    margin-top: 8px;
                    border-radius: 50%;
                    position: absolute;
                    width: 20px;
                }
            }
        }
    }
}

ion-content {
    ion-list {

        ion-grid {
            ion-row {
                ion-col {
                    ion-row {
                        ion-item.produto {
                            width: 100% !important;
                            border-radius: 6px;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
                            --inner-padding-end: none !important;
                            --padding-start: 5px;
                            margin-bottom: 10px;

                            ion-thumbnail {
                                margin-right: 0;
                                height: auto;
                                width: 46px;
                            }

                            ion-grid {
                                padding: 0 !important;
                                
                                ion-row.produtoRow {
                                    min-height: 100px !important;
                                    height: 100% !important;
                
                                    ion-col.produtoInformacao {
                                        margin: auto 0;
                
                                        .produtoDescri {
                                            color: #808080;
                                            font-size: 14px;
                                            font-weight: 400;
                                            white-space: normal;
                                        }
                                        .produtoPreco {
                                            font-size: 15px;
                                            color: #C40318;
                                            font-weight: bold;
                                            padding: 0;
                                        }
                                        .produtoPrecoUnidade {
                                            color: #4d4d4d;
                                            font-size: 14px;
                                            font-weight: bold;
                                        }
                                    }
                
                                    ion-col.produtoManutencao {
                                        background-color: #f4f4f4;
                                        border-left: 2px solid rgba(0, 0, 0, 0.1);
                                        ion-row {
                                            background-color: #f4f4f4;
                                        }
                                        ion-button {
                                            width: 100% !important;
                                            --background: transparent !important;
                                            --border-color: transparent !important;
                                            --border-width: 0 !important;
                                        }
                                        .produtoManutencaoTop {
                                            min-height: 40px !important;
                                            height: 50% !important;
                                            border-bottom: none;
                                            border-top: none;
                                            font-size: 18px;
                                            font-weight: bold;
                                            padding: 5px 0;
                                        }
                                        .produtoManutencaoBottom {
                                            min-height: 40px !important;
                                            height: 50% !important;

                                            ion-col {
                                                margin: auto !important;

                                                ion-button {
                                                    min-height: 45px !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

ion-footer {

    ion-item {
        width: 100% !important;
        margin: auto !important;

        ion-text {
            margin: auto !important;
            font-size: 110%;
        }
    }
}