<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pedido-atalhos"></ion-back-button>

      <ion-button (click)="pedidoService.sairPedido()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> Sacola </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge
          color="success"
          class="badge-position"
          *ngIf="(pedidoOBS | async)?.cartaoPedido"
        >
          ✔
        </ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge
          color="success"
          class="badge-position"
          *ngIf="(pedidoOBS | async)?.cgccpf_cliente"
        >
          ✔
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (click)="showInfo = false">
  <input
    id="scanner"
    appHideKeyboard
    class="scanner"
    [(ngModel)]="scanner.valorScanner"
    (keyup.enter)="scaneado($event.target.value)"
  />

  <div *ngIf="pedidoOBS | async as ped">
    <ion-grid [hidden]="ped.tipoEntrega === 'ENTREGA'">
      <ion-row>
        <ion-col size="12">
          <!-- <ion-item lines="none" class="tipoEntrega">
            Retirada {{ ped.tipoEntrega }}
          </ion-item> -->
          <ion-card button class="ion-no-margin">
            <ion-card-content>
              Retirada: {{ ped.tipoEntrega }}
              <ion-icon
                name="build-outline"
                style="float: right; font-size: 24px"
              ></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid *ngIf="!(itensOBS | async)?.length; else list"></ion-grid>
  <!-- Item Dividers in a List -->
  <ng-template #list>
    <ion-list *ngIf="itensOBS | async as itens">
      <ion-item-divider sticky *ngIf="existeProdRetirada">
        <ion-label> Levar da loja </ion-label>
      </ion-item-divider>

      <ion-grid *ngIf="existeProdRetirada">
        <ion-row>
          <ion-col
            size="12"
            *ngFor="let item of itens; let i = index"
            style="padding: 0 !important"
          >
            <ion-row
              *ngIf="item?.retiradas[0].tipoRetirada !== 9997"
              style="padding: 5px !important"
            >
              <ion-item lines="none" class="produto">
                <ion-thumbnail slot="start">
                  <ion-img src="data:image/jpeg;base64,{{ item?.imagem }}"></ion-img>
                </ion-thumbnail>

                <ion-grid>
                  <ion-row class="produtoRow">
                    <ion-col size="8.5" class="produtoInformacao">
                      <ion-row class="produtoDescri">
                        {{ item.idProduto }} - {{ item.descricao }}
                      </ion-row>

                      <ion-row class="produtoPreco">
                        {{ item.prcTotal | formatarString: 'VALOR' }}
                      </ion-row>

                      <ion-row class="produtoPrecoUnidade" *ngIf="item.qtdTotal > 1">
                        {{ item.prcUnitario | formatarString: 'VALOR' }} cada
                      </ion-row>
                    </ion-col>

                    <ion-col size="3.5" class="produtoManutencao">
                      <ion-row
                        class="
                          produtoManutencaoTop
                          ion-justify-content-center ion-align-items-center
                        "
                      >
                        <ion-col class="ion-no-padding" size="12">
                          <ion-button
                            expand="full"
                            fill="clear"
                            color="dark"
                            class="ion-no-margin"
                            (click)="getProduto(item.idProduto)"
                          >
                            {{ item.qtdTotal }}
                          </ion-button>
                        </ion-col>
                      </ion-row>

                      <ion-row
                        class="
                          produtoManutencaoBottom
                          ion-justify-content-center ion-align-items-center
                        "
                      >
                        <ion-col class="ion-no-padding" size="12">
                          <ion-button
                            expand="full"
                            fill="clear"
                            color="dark"
                            class="ion-no-margin"
                            (click)="removerProduto(item)"
                          >
                            <ion-icon
                              slot="icon-only"
                              size="large"
                              name="trash-bin-outline"
                            ></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-divider sticky *ngIf="existeProdEntrega">
        <ion-label> Receber em casa </ion-label>
      </ion-item-divider>

      <ion-grid *ngIf="existeProdEntrega">
        <ion-row>
          <ion-col
            size="12"
            *ngFor="let item of itens; let i = index"
            style="padding: 0 !important"
          >
            <ion-row
              *ngIf="item?.retiradas[0].tipoRetirada === 9997"
              style="padding: 5px !important"
            >
              <ion-item lines="none" class="produto">
                <ion-thumbnail slot="start">
                  <ion-img src="data:image/jpeg;base64,{{ item?.imagem }}"></ion-img>
                </ion-thumbnail>

                <ion-grid>
                  <ion-row class="produtoRow">
                    <ion-col size="8" class="produtoInformacao">
                      <ion-row class="produtoDescri">
                        {{ item.idProduto }} - {{ item.descricao }}
                      </ion-row>

                      <ion-row class="produtoPreco">
                        {{ item.prcTotal | formatarString: 'VALOR' }}
                      </ion-row>

                      <ion-row class="produtoPrecoUnidade" *ngIf="item.qtdTotal > 1">
                        {{ item.prcUnitario | formatarString: 'VALOR' }} cada
                      </ion-row>
                    </ion-col>

                    <ion-col size="4" class="produtoManutencao">
                      <ion-row
                        class="
                          produtoManutencaoTop
                          ion-justify-content-center ion-align-items-center
                        "
                      >
                        <ion-col class="ion-no-padding" size="12">
                          <ion-button
                            expand="full"
                            fill="clear"
                            color="dark"
                            class="ion-no-margin"
                            (click)="getProduto(item.idProduto)"
                          >
                            {{ item.qtdTotal }}
                          </ion-button>
                        </ion-col>
                      </ion-row>

                      <ion-row
                        class="
                          produtoManutencaoBottom
                          ion-justify-content-center ion-align-items-center
                        "
                      >
                        <ion-col class="ion-no-padding" size="12">
                          <ion-button
                            expand="full"
                            fill="clear"
                            color="dark"
                            class="ion-no-margin"
                            (click)="removerProduto(item)"
                          >
                            <ion-icon
                              slot="icon-only"
                              size="large"
                              name="trash-bin-outline"
                            ></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ng-template>
</ion-content>

<ion-footer *ngIf="pedidoOBS | async as ped">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="buttons">
        <ion-col size="2.5" class="ion-no-padding"></ion-col>

        <ion-col size="7" class="ion-no-padding">
          <ion-button
            fill="clear"
            color="fc-cinza-vermelho"
            [routerLink]="['/produto-pesquisa']"
            routerDirection="forward"
          >
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="2.5" class="ion-no-padding">
          <ion-button
            fill="clear"
            color="fc-cinza-vermelho"
            (click)="showInfo = !showInfo"
          >
            <ion-icon
              slot="icon-only"
              *ngIf="!showInfo"
              name="arrow-up-circle"
            ></ion-icon>
            <ion-icon
              slot="icon-only"
              *ngIf="showInfo"
              name="arrow-down-circle"
            ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showInfo" class="infos">
        <ion-col size="6" class="esquerda">
          <ion-row>
            <ion-col>
              <div *ngIf="pedidoOBS | async as ped">
                Pedido ({{ ped.totalProdutos }}):
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>Peso total:</ion-col>
          </ion-row>

          <ion-row *ngIf="ped.frete.valor > 0">
            <ion-col>Frete: </ion-col>
          </ion-row>

          <ion-row *ngIf="ped.descontoBrinde > 0">
            <ion-col>Brinde: </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>Total: </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="6" class="direita">
          <ion-row class="orderId">
            <ion-col>
              {{
                ped.totpedido - ped.frete.valor + ped.descontoBrinde
                  | formatarString: 'VALOR'
              }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col> {{ ped.pesoTotal }} kg </ion-col>
          </ion-row>

          <ion-row *ngIf="ped.frete.valor > 0">
            <ion-col> {{ ped.frete.valor | formatarString: 'VALOR' }} </ion-col>
          </ion-row>

          <ion-row *ngIf="ped.descontoBrinde > 0">
            <ion-col> {{ ped.descontoBrinde | formatarString: 'VALOR' }} </ion-col>
          </ion-row>

          <ion-row>
            <ion-col> {{ ped.totpedido | formatarString: 'VALOR' }} </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-item button lines="none" color="fc-button-green" (click)="finalizarPedido()">
    <ion-text>FINALIZAR PEDIDO</ion-text>
  </ion-item>
</ion-footer>
