.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-header {

    ion-toolbar {

        ion-title {
            display: none;
        }

        ion-buttons {
            min-height: 40px !important;

            ion-button {
                min-width: 48px !important;
                min-height: 48px !important;
                margin: 2px 4px;

                ion-icon {
                    font-size: 200%;
                }
            }
        }
    }
}

ion-content {
    ion-list {

        ion-grid {
            ion-row {
                ion-col {
                    ion-row {
                        ion-item.produto {
                            width: 100% !important;
                            border-radius: 6px;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
                            --inner-padding-end: none !important;
                            --padding-start: 5px;

                            ion-thumbnail {
                                margin-right: 0;
                                height: auto;
                                width: 46px;
                            }

                            ion-grid {
                                padding: 0 !important;
                                
                                ion-row.produtoRow {
                                    min-height: 100px !important;
                                    height: 100% !important;
                
                                    ion-col.produtoInformacao {
                                        margin: auto 0;
                
                                        .produtoDescri {
                                            color: #808080;
                                            font-size: 14px;
                                            font-weight: 400;
                                            white-space: normal;
                                        }
                                        .produtoPreco {
                                            font-size: 15px;
                                            color: #C40318;
                                            font-weight: bold;
                                            padding: 0;
                                        }
                                        .produtoPrecoUnidade {
                                            color: #4d4d4d;
                                            font-size: 14px;
                                            font-weight: bold;
                                        }
                                    }
                
                                    ion-col.produtoManutencao {
                                        background-color: #f4f4f4;
                                        border-left: 2px solid rgba(0, 0, 0, 0.1);
                                        ion-row {
                                            background-color: #f4f4f4;
                                        }
                                        ion-button {
                                            width: 100% !important;
                                            --background: transparent !important;
                                            --border-color: transparent !important;
                                            --border-width: 0 !important;
                                        }
                                        .produtoManutencaoTop {
                                            min-height: 40px !important;
                                            height: 50% !important;

                                            ion-col {
                                                margin: auto !important;

                                                ion-button {
                                                    min-height: 45px !important;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                        .produtoManutencaoBottom {
                                            min-height: 40px !important;
                                            height: 50% !important;

                                            ion-col {
                                                margin: auto !important;

                                                ion-button {
                                                    min-height: 45px !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ion-item.tipoEntrega {
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
        --inner-padding-end: none !important;
        --min-height: 0 !important;
        --padding-start: 5px;
    }
}

ion-footer {
    ion-toolbar {
        --min-height: 0;

        ion-grid {
            padding: 0 !important;
            background: #fafafa;

            ion-row.buttons {
                ion-col {
                    text-align: center;

                    ion-button {
                        margin: 0;
                        width: 100%;
                        height: 45px;
                        max-width: 100px;

                        ion-icon {
                            font-size: 32px;                    
                        }  
                    }
                }
            }

            ion-row.infos {
                ion-col.esquerda {
                    text-align: start;
                    padding: 5px 0 5px 20px; 
                    color: #3d3d3d;
                    font-size: 15px;
                    font-weight: bold;
                }
                ion-col.direita {
                    text-align: end;
                    padding: 5px 20px 5px 0;
                    color: #3d3d3d;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }

    ion-item {
        width: 100% !important;
        margin: auto !important;

        ion-text {
            margin: auto !important;
            font-size: 110%;
        }
    }
}
