ion-header {
  ion-toolbar {
    ion-grid {
      padding: 0 10px !important;

      h4 {
        color: #fff;
        font-size: 18px;
        font-weight: normal;
        margin-top: 0px;
      }
      p {
        color: #fff;
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
}

ion-content {
  .custom-grid {
    height: 100%;
    max-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }

  .custom-row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    ion-item {
      width: 100% !important;
      max-width: 600px !important;
      border-radius: 8px !important;
      margin: 10px !important;
      border: 1px solid;

      ion-label {
        span {
          font-weight: bold;
        }

        p {
          white-space: normal;
        }
      }
    }
  }
}
