<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Pesquisa de clientes</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar
      #pesquisarCliente
      [formControl]="fieldPesquisa"
      placeholder="Pesquise um produto!"
      (ionFocus)="scanner.focusPause()"
      (ionBlur)="scanner.focusPlay()"
      (keyup.enter)="blurSearchbar()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>pesquisa-cliente works!</p>

  <ion-button (click)="close()">Fechar</ion-button>
</ion-content>
