.header-md:after {
    height: 0 !important;
    background-image: none !important;
}

.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-content {
    
    ion-grid.pesquisa-detalhada-grid {

        ion-row.pesquisa-button-row {
            ion-col {
                ion-button {
                    width: 100%;
                }
            }
        }
    }
}
