<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pedido-atalhos"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <!-- <ion-button (click)="showPesquisa()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button> -->

      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge
          color="success"
          class="badge-position"
          *ngIf="(pedidoOBS | async)?.cartaoPedido"
        >
          ✔
        </ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge
          color="success"
          class="badge-position"
          *ngIf="(pedidoOBS | async)?.cgccpf_cliente"
        >
          ✔
        </ion-badge>
      </ion-button>

      <ion-button
        *ngIf="totalItensOBS | async as total"
        [routerLink]="['/pedido-sacola']"
        routerDirection="forward"
      >
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="fc-cinza-vermelho" class="badge-position">
          {{ total }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar
      [formControl]="fieldPesquisa"
      placeholder="Pesquise um produto!"
      (ionFocus)="scanner.focusPause()"
      (ionBlur)="scanner.focusPlay()"
      (keyup.enter)="blurSearchBar()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input
    appHideKeyboard
    class="scanner"
    [(ngModel)]="scanner.valorScanner"
    (keyup.enter)="scaneado($event.target.value)"
  />

  <div
    slot="fixed"
    class="ion-text-center ion-padding"
    style="width: 100vw"
  >
    <ion-spinner [hidden]="!showLoadingSpinner"></ion-spinner>
  </div>

  <ion-list lines="none" *ngIf="pagination && pagination.content; else noProduct">
    <ion-card *ngFor="let produto of pagination.content">
      <ion-item (click)="log(produto)">
        <ion-img
          slot="start"
          src="data:image/jpeg;base64,{{ produto?.imagem }}"
        ></ion-img>

        <ion-card-content>
          <ion-row class="codigo-produto"> {{ produto.codigodigitoembalagem }} </ion-row>
          <ion-row class="descricao"> {{ produto?.descricao }} </ion-row>
          <ion-row class="endereco"> </ion-row>
        </ion-card-content>
      </ion-item>
    </ion-card>
  </ion-list>

  <ng-template #noProduct>
    <ion-grid class="noItens">
      <ion-row class="topHeading">
        <ion-col>
          <h3>Escaneie um produto ou pesquise em nosso catálogo</h3>
        </ion-col>
      </ion-row>

      <ion-row class="noImg">
        <ion-col>
          <img src="assets/images/08-catalogo/pedido-nao-encontrado.png" />
        </ion-col>
      </ion-row>

      <ion-row class="bottomHeading">
        <ion-col>
          <h3>Sem resultados para exibir...</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <!-- <ion-grid [hidden]="pesquisaDetalhada" *ngIf="pesquisaItems.length != 0">
    <ion-row>
      <ion-col *ngFor="let item of pesquisaItems; let i = index">
        <ion-item lines="none" class="produto" (click)="goToProdutoPage(item)">
          <ion-thumbnail slot="start">
            <ion-img src="data:image/jpeg;base64,{{ item?.imagem }}"></ion-img>
          </ion-thumbnail>

          <ion-grid>
            <ion-row class="produtoRow">
              <ion-col size="12" class="produtoInformacao">
                <ion-row class="produtoDescri">
                  {{ item.idProduto }} - {{ item.descricao }}
                </ion-row>

                <ion-row class="produtoPreco">
                  {{ item.prcTotal | formatarString: 'VALOR' }}
                </ion-row>

                <ion-row class="produtoPrecoUnidade" *ngIf="item.qtdTotal > 1">
                  {{ item.prcUnitario | formatarString: 'VALOR' }} cada
                </ion-row>
              </ion-col>

              <!-- <ion-col size="3.5" class="produtoManutencao">
                <ion-row class="produtoManutencaoTop ion-justify-content-center ion-align-items-center">
                  {{ item.qtdTotal }}
                </ion-row>

                <ion-row class="produtoManutencaoBottom ion-justify-content-center ion-align-items-center">
                  <ion-col class="ion-no-padding" size="12">
                    <ion-button expand="full" fill="clear" color="dark" class="ion-no-margin"
                      (click)="removerProduto(item)">
                      <ion-icon slot="icon-only" size="large" name="trash-bin-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col> --
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event.target)">
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Carregando Produtos..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
