.header-md:after {
    height: 0 !important;
    background-image: none !important;
}

.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-header {

    ion-toolbar {

        ion-title {
            display: none;
        }

        ion-buttons {
            min-height: 40px !important;

            ion-button {
                min-width: 48px !important;
                min-height: 48px !important;
                --overflow: visible !important;
                --border-radius: 50% !important;
                margin: 2px 4px;

                ion-icon {
                    font-size: 200%;
                }

                .badge-position {
                    margin-left: 8px;
                    margin-top: 8px;
                    border-radius: 50%;
                    position: absolute;
                    width: 20px;
                }
            }
        }

        ion-segment {

            ion-segment-button {
                opacity: 1;
            }
        }
    }
}
