<ion-header>
  <ion-toolbar color="fc">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pedido-atalhos"></ion-back-button>
    </ion-buttons>

    <ion-title [hidden]="!pesquisaDetalhada">Pesquisa Detalhada</ion-title>

    <ion-buttons slot="end" [hidden]="pesquisaDetalhada">
      <ion-button (click)="showPesquisa()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>

      <ion-button (click)="adicionarCartaoPedido()">
        <ion-icon name="card"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedido.cardSelected">✔</ion-badge>
      </ion-button>

      <ion-button (click)="openClientePage()">
        <ion-icon name="person"></ion-icon>
        <ion-badge color="success" class="badge-position" *ngIf="pedido.clientSelected">✔</ion-badge>
      </ion-button>

      <ion-button *ngIf="pedido.qtdItensSacola > 0">
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="fc-cinza-vermelho" class="badge-position">
          {{ pedido.qtdItensSacola }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="scanner" hideKeyboard class="scanner" [(ngModel)]="valorScanner" (keyup.enter)="scaneado($event)">

  <!-- Grid pesquisa detalhada -->
  <ion-grid [hidden]="!pesquisaDetalhada" class="pesquisa-detalhada-grid">
    <ion-row class="pesquisa-input-row">
      <!-- Codigo -->
      <ion-col size=12 class="pesquisa-input-col">
        <ion-item lines="none">
          <ion-label position="stacked">Codigo</ion-label>
          <ion-input type="tel" (ionFocus)="foco = true" (ionBlur)="foco = false"></ion-input>
        </ion-item>
      </ion-col>

      <!-- Descrição -->
      <ion-col size=12 class="pesquisa-input-col">
        <ion-item lines="none">
          <ion-label position="stacked">Descrição</ion-label>
          <ion-input type="text" (ionFocus)="foco = true" (ionBlur)="foco = false"></ion-input>
        </ion-item>
      </ion-col>

      <!-- Fornecedor -->
      <ion-col size=12 class="pesquisa-input-col">
        <ion-item lines="none">
          <ion-label position="stacked">Fornecedor</ion-label>
          <ion-input type="text" (ionFocus)="foco = true" (ionBlur)="foco = false"></ion-input>
        </ion-item>
      </ion-col>

      <!-- Modelo -->
      <ion-col size=6 class="pesquisa-input-col">
        <ion-item lines="none">
          <ion-label position="stacked">Modelo</ion-label>
          <ion-input type="text" (ionFocus)="foco = true" (ionBlur)="foco = false"></ion-input>
        </ion-item>
      </ion-col>

      <!-- Linha -->
      <ion-col size=6 class="pesquisa-input-col">
        <ion-item lines="none">
          <ion-label position="stacked">Linha</ion-label>
          <ion-input type="text" (ionFocus)="foco = true" (ionBlur)="foco = false"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="pesquisa-button-row">
      <ion-col size="6">
        <ion-button color="fc-cinza-vermelho">LIMPAR</ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button color="fc-button-green">PESQUISAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-grid [hidden]="!pesquisaDetalhada && foco" class="grid-foco-change">
    <ion-row>
      <ion-col size="6">
        <ion-button>
          Anterior
          <ion-icon name="chevron-back" slot="start"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button>
          Próximo
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>