ion-content {
  ion-slides {
    width: 100% !important;
    height: 100% !important;

    ion-slide {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

ion-footer {
  padding: 5px !important;
  background: #f4f4f4;
  ion-slides {
    ion-slide {
      background-color: #fff;
    }
  }
}
