<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #imgSlides>
    <ion-slide *ngFor="let imagem of imagens">
      <img src="data:image/jpeg;base64,{{ imagem.imageGrande }}" />
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let imagem of imagens; let i = index">
      <ion-thumbnail (click)="slideTo(i)">
        <ion-img src="data:image/jpeg;base64,{{ imagem.imageGrande }}"></ion-img>
      </ion-thumbnail>
    </ion-slide>
  </ion-slides>
</ion-footer>
