<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Endereço de Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row >
      <ion-col size="12">
        <ion-row>
          <h4 style="margin: 0; font-weight: bold;">Selecione o endereço</h4>
          <p>Para retirar em loja ou receber, selecione um endereço abaixo.</p>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <ion-row class="listaEnderecos">
          <ion-col size="12" *ngFor="let endereco of pedidoService.dadosCliente.enderecos" class="endereco">
            <ion-row>
              <p style="margin-top: 10px; margin-bottom: 6px;">Entregar em:</p>
            </ion-row>

            <ion-row>
              <p style="margin-top: 0; margin-bottom: 6px;" class="rua">{{ endereco.ds_ende }}, {{ endereco.nu_ende }}</p>
            </ion-row>

            <ion-row>
              <p style="margin-top: 10px; margin-bottom: 6px;" class="local">{{ endereco.ds_bairro }} - {{ endereco.cidade }} - {{ endereco.ds_uf }}</p>
            </ion-row>

            <ion-row>
              <ion-button color="fc-button-green">Selecionar</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="novoEndereco">
          <ion-item button detail>Adicionar novo Endereço</ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>