<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Endereço de Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides style="width: 100%; height: 100%;">
    <ion-slide>
      <ion-grid style="height: 100%;">
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <h4 style="margin: 0; font-weight: bold;">Selecione o endereço</h4>
            </ion-row>

            <ion-row>
              <p style="text-align: start; font-size: 14px;">
                Para retirar em loja ou receber, selecione um endereço abaixo.
              </p>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row class="listaEnderecos">
              <ion-col size="12" *ngFor="let endereco of pedidoService.dadosCliente.enderecos" class="endereco">
                <ion-row class="text-endereco">
                  <p style="margin-top: 5px;">Entregar em:</p>
                </ion-row>

                <ion-row class="text-endereco">
                  <p class="rua">{{ endereco.ds_ende }}, {{ endereco.nu_ende }}</p>
                </ion-row>

                <ion-row class="text-endereco">
                  <p class="local">{{ endereco.ds_bairro }} - {{ endereco.cidade }} - {{ endereco.ds_uf }}</p>
                </ion-row>

                <ion-row>
                  <ion-button color="fc-button-green">Selecionar</ion-button>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="novoEndereco">
              <ion-item lines="none" button detail (click)="changeSlide(1)">Adicionar novo endereço</ion-item>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid style="height: 100%;">
        <ion-row>
          <!-- <ion-col size="12">
            <ion-row>
              <h4 style="margin: 0; font-weight: bold;">Selecione o endereço</h4>
            </ion-row>

            <ion-row>
              <p style="text-align: start; font-size: 14px;">
                Para retirar em loja ou receber, selecione um endereço abaixo.
              </p>
            </ion-row>
          </ion-col> -->

          <ion-col size="12">
            <ion-row class="cadastrarNovoEndereco">
              <p style="margin-top: 5px;">Cadastrar novo endereço</p>
            </ion-row>

            <ion-row>

            </ion-row>

            <ion-row>
              <ion-col size="12" class="cadastro-campos">
                <ion-row>
                  <ion-col size="8">
                    <ion-row>
                      <ion-label>CEP</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-input type="tel" placeholder="00000-000" mask="**.***-***"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="4">
                    <ion-row>
                      <ion-label>UF</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-input type="text"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="12">
                    <ion-row>
                      <ion-label>Cidade</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-input type="text" placeholder="Cidade"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="12">
                    <ion-row>
                      <ion-label>Bairro</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-input type="text" placeholder="Bairro"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="12">
                    <ion-row>
                      <ion-label>Rua ou Avenida</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-input type="text" placeholder="Rua ou Avenida"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="12">
                    <ion-row>
                      <ion-label>Número</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-input type="tel" placeholder="Número"></ion-input>
                    </ion-row>
                  </ion-col>

                  <ion-col size="12">
                    <ion-row>
                      <ion-label>Complemento (opcional)</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-input type="text" placeholder="Complemento"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>