ion-content {
    ion-grid {
        ion-row {
            ion-col {
                .listaEnderecos {
                    border-left: 1px solid lightgray;
                    border-top: 1px solid lightgray;
                    border-top-right-radius: 6px;
                    border-top-left-radius: 6px;

                    .endereco {
                        border-bottom: 1px solid lightgray;
                        border-right: 1px solid lightgray;
                        border-top-right-radius: 6px;
                        border-top-left-radius: 6px;

                        ion-row.text-endereco {
                            padding-right: 3px;
                            padding-left: 3px;

                            p {
                                white-space: normal;
                                word-break: break-all;
                                margin: 0;
                            }

                            p.rua {
                                font-weight: bold;
                                font-size: 14px;
                                color: black;
                            }

                            p.local {
                                margin-top: 10px;
                                font-size: 14px;
                                color: #808080;
                            }
                        }

                        ion-button {
                            width: 100%;
                        }
                    }
                }

                .novoEndereco {
                    border-bottom: 1px solid lightgray;
                    border-right: 1px solid lightgray;
                    border-left: 1px solid lightgray;
                    border-bottom-right-radius: 6px;
                    border-bottom-left-radius: 6px;
                    overflow: hidden;

                    ion-item {
                        width: 100%;
                    }
                }
            }

            ion-col.cadastrarNovoEndereco {
                border: 1px solid lightgray;
            }

            ion-col.cadastro-campos {
                border: 1px solid lightgray;
                border-radius: 6px;

                ion-label {
                    float: left;
                    font-size: 14px;
                }

                ion-input {
                    border: 1px solid lightgray;
                    border-radius: 6px;
                    text-align: start;
                }
            }
        }
    }
}