.scanner {
    position: fixed;
    top: -50px !important;
    height: 0.1px !important;
}

ion-content {

    ion-grid.noItens {
        position: fixed;
        height: 100%;
        width: 100%;
        
        .topHeading {
            h3 {
                text-align: center;
                font-size: 18px;
                color: #3f3f3f;
            }
        }
        .noImg {
            text-align: center;
            img {
                width: 200px;
                height: auto;
            }
        }
        .bottomHeading {
            h3 {
                text-align: center;
                font-size: 18px;
                color: #8f8f8f;
                font-weight: normal;
            }
        }
    }

    ion-list.listaProdutos {
        width: 100%;
        max-width: 600px;
        padding: 10px;
        margin: 0 auto;

        ion-item.produto {
            width: 100%;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.4);
            --inner-padding-end: none !important;
            --padding-start: 5px;
            margin-bottom: 10px;

            ion-thumbnail {
                margin-right: 0;
                height: auto;
                width: 46px;
            }

            ion-grid {
                padding: 0 !important;
                
                ion-row.produtoRow {
                    min-height: 100px !important;
                    height: 100% !important;

                    ion-col.produtoInformacao {
                        margin: auto 0;

                        .produtoDescri {
                            color: #808080;
                            font-size: 14px;
                            font-weight: 400;
                            white-space: normal;
                        }
                        .produtoPreco {
                            font-size: 15px;
                            color: #C40318;
                            font-weight: bold;
                            padding: 0;
                        }
                        .produtoPrecoUnidade {
                            color: #4d4d4d;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }

                    ion-col.produtoQuantidade {
                        background-color: #f4f4f4;
                        border-left: 2px solid rgba(0, 0, 0, 0.1);
                        ion-row {
                            background-color: #f4f4f4;
                        }
                        ion-button {
                            width: 100% !important;
                            --background: transparent !important;
                            --border-color: transparent !important;
                            --border-width: 0 !important;
                        }
                        .quantidadeTop {
                            min-height: 40px !important;
                            height: 33% !important;
                        }
                        .quantidadeCenter {
                            border-bottom: none;
                            border-top: none;
                            font-size: 18px;
                            font-weight: bold;
                            padding: 5px 0;
                            height: 34% !important;
                        }
                        .quantidadeBottom {
                            min-height: 40px !important;
                            height: 33% !important;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    background-color: #F4F4F4;

    ion-grid {
        ion-row {

            ion-col.colunaPreco {
                ion-row.titulo {
                    font-size: 14px;
                    font-weight: bold;
                    color: #7e7e7e;
                }
                
                ion-row.valor {
                    font-size: 18px;
                    font-weight: bold;
                    color: #4d4d4d;
                }
            }
            
            ion-col.colunaBtn {
                ion-button {
                    margin: 3px 0;
                    height: 42px;
                    font-size: 17px;
                    font-weight: bold;
                }
            }
        }
    }
}
