<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Pedido Rapido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="scanner" hideKeyboard class="scanner" [(ngModel)]="valorScanner" (keyup.enter)="scaneado($event)">

  <ion-input #teste></ion-input>
  <ion-button (click)="addItem(teste.value)">teste de pedido rapido</ion-button>

  <ion-grid *ngIf="itens.length == 0" class="noItens">
    <ion-row class="topHeading">
      <ion-col>
        <h3>Seus produtos selecionados vão ficar aqui...</h3>
      </ion-col>
    </ion-row>
    <ion-row class="noImg">
      <ion-col>
        <img src="assets/images/13-pedido_rapido/pedido-rapido.png" />
      </ion-col>
    </ion-row>
    <ion-row class="bottomHeading">
      <ion-col>
        <h3>Sem resultados para exibir...</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" class="listaProdutos" *ngIf="itens.length > 0">
    <ion-item lines="none" class="produto" *ngFor="let item of itens; let i = index">
      <ion-thumbnail slot="start">
        <ion-img src="data:image/jpeg;base64,{{item?.imagem}}"></ion-img>
      </ion-thumbnail>

      <ion-grid>
        <ion-row class="produtoRow">
          <ion-col size="8" class="produtoInformacao">
            <ion-row class="produtoDescri">
              {{ item.idProduto }} - {{ item.descricao }}
            </ion-row>

            <ion-row class="produtoPreco">
              {{ item.prcTotal | formatarString: 'VALOR' }}
            </ion-row>

            <ion-row class="produtoPrecoUnidade" *ngIf="item.qtdTotal > 1">
              {{ item.prcUnitario | formatarString: 'VALOR' }} cada
            </ion-row>
          </ion-col>

          <ion-col size="4" class="produtoQuantidade">
            <ion-row class="quantidadeTop ion-justify-content-center ion-align-items-center">
              <ion-button expand="full" fill="clear" color="dark" class="ion-no-margin">
                <ion-icon slot="icon-only" size="large" name="arrow-up"></ion-icon>
              </ion-button>
            </ion-row>

            <ion-row class="quantidadeCenter ion-justify-content-center ion-align-items-center">
              {{ item.qtdTotal }}
            </ion-row>

            <ion-row class="quantidadeBottom ion-justify-content-center ion-align-items-center">
              <ion-button expand="full" fill="clear" color="dark" class="ion-no-margin" (click)="removerProduto(item)">
                <ion-icon slot="icon-only" size="large" name="trash-bin-outline"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="itens.length > 0">
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>