<ion-header>
  <ion-toolbar color="fc">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido Rapido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input id="scanner" hideKeyboard class="scanner" [(ngModel)]="valorScanner" (keyup.enter)="scaneado($event)">

  <ion-list lines="none" class="listaProdutos">
    <ion-item-sliding class="produto ion-no-padding ion-align-items-stretch" *ngFor="let item of itens; let i = index">
      <!-- <ion-item-options side="start">
        <ion-item-option color="warning">
          <ion-icon slot="top" name="information-circle" size="large"></ion-icon>
          DETALHES
        </ion-item-option>
      </ion-item-options> -->

      <ion-item lines="none" class="ion-no-padding">
        <ion-row class="produtoRow">
          <ion-col size="2.5" class="produtoImage ion-align-items-center">
            <img src="assets/imagens/02-login/idcliente.png" />
          </ion-col>

          <ion-col size="6.5" class="produtoInformacao">
            <ion-row class="produtoDescri">
              {{ item.nome }}
            </ion-row>

            <ion-row class="produtoPreco">
              R$ {{ item.preco*item.qtd }}
            </ion-row>

            <ion-row class="produtoPrecoUnidade" *ngIf="item.qtd > 1">
              R$ {{ item.preco }} cada
            </ion-row>

          </ion-col>

          <ion-col size="3" class="produtoQuantidade">
            <ion-row class="quantidadeTop ion-justify-content-center ion-align-items-center">
              <ion-button expand="full" fill="clear" color="dark" class="ion-no-margin" (click)="add(i)">
                <ion-icon name="arrow-up" mode="ios" size="large"></ion-icon>
              </ion-button>
            </ion-row>

            <ion-row class="quantidadeCenter ion-justify-content-center ion-align-items-center">
              {{ item.qtd }}
            </ion-row>

            <ion-row class="quantidadeBottom ion-justify-content-center ion-align-items-center">
              <ion-button expand="full" fill="clear" color="dark" class="ion-no-margin" (click)="rm(i)">
                <ion-icon name="trash-bin" mode="ios" size="large" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>

      <!-- <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="top" name="trash" size="large"></ion-icon>
          REMOVER
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>

</ion-content>