<ion-header>
  <ion-toolbar>
    <ion-title>toPDF-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="btn btn-primary" (click)="downloadImage()">DL</div>

  <ion-grid #screen id="table">
    <ion-row>
      <ion-col scope="col">#</ion-col>
      <ion-col scope="col">First</ion-col>
      <ion-col scope="col">Last</ion-col>
      <ion-col scope="col">Handle</ion-col>
    </ion-row>

    <ion-row>
      <ion-row>
        <ion-col scope="row">1</ion-col>
        <ion-col>Mark</ion-col>
        <ion-col>Otto</ion-col>
        <ion-col>@mdo</ion-col>
      </ion-row>
      <ion-row>
        <ion-col scope="row">2</ion-col>
        <ion-col>Jacob</ion-col>
        <ion-col>Thornton</ion-col>
        <ion-col>@fat</ion-col>
      </ion-row>
      <ion-row>
        <ion-col scope="row">3</ion-col>
        <ion-col>Larry</ion-col>
        <ion-col>the Bird</ion-col>
        <ion-col>@twitter</ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
  <table  class="table table-striped">
    <tbody>
      
    </tbody>
  </table>

  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div> -->
</ion-content>