<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Informações detalhadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="descricaoProduto">
        <ion-row class="fantasiaEsituacao">
          <ion-label>
            {{ produto.fantas }}
          </ion-label>
        </ion-row>

        <ion-row class="descricao">
          <ion-label>
            {{ produto.descricao }}
          </ion-label>
        </ion-row>

        <ion-row class="codigodigitoembalagem">
          <ion-label>
            {{ produto.codigodigitoembalagem }}
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="secoes">
      <ion-col size="12" *ngFor="let secao of info; let i = index">
        <ion-row class="secaoDescricao">
          <p>
            {{ secao.descricaoGrupo }}
          </p>
        </ion-row>

        <ion-row class="secaoItem" *ngFor="let item of secao?.items; let f = index">
          <ion-col size="4" class="sideItem">
            <p>
              {{ item.nome }}
            </p>
          </ion-col>

          <ion-col size="8" class="sideValor">
            <p>
              {{ item.valor }}
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
