<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs [environmentInjector]="environmentInjector">
    <ion-tab-bar slot="top" color="primary" class="tabs-shadow">
      <ion-tab-button tab="pedido-aberto">
        <ion-label>Em aberto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pedido-finalizado">
        <ion-label>Finalizados</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="fc-button-green" (click)="addNovoPedido()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
